
node_modules
# Ignore built ts files
lib/**/*
*.tsbuildinfo

bun.lock

/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/test-screenshots/
cleanup-failure-*.png
test-failure-*.png
*.test.png
*.spec.png

bundle-stats*

package-lock.json

examples/**/.env
examples/**/bun.lock
examples/**/package-lock.json
examples/**/local.tgz
examples/**/.next
examples/**/next-env.d.ts